In [23]:
import pandas as pd
import requests

url = 'https://www.iplt20.com/auction/2022'

r = requests.get(url)

In [3]:
print(r.status_code)

200

In [5]:
from bs4 import BeautifulSoup

In [13]:
soup = BeautifulSoup(r.text, 'lxml')

In [15]:
table = soup.find('table', class_='ih-td-tab auction-tbl')

In [20]:
header = table.find_all('th',class_='skip-filter')

titles =[]

for i in header:
    titles.append(i.text)

In [21]:
titles

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [25]:
df = pd.DataFrame(columns = titles)
df

Empty DataFrame
Columns: [TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [29]:
t_body = soup.find('tbody', id='pointsdata')

In [47]:
rows = t_body.find_all('tr')
for i in rows:
    data = i.find_all('td') # extracting table data(td) tags
    row = [tr.text for tr in data] # extracting text in 'tr' tag for each row
    l = len(df) #specifying length of df
    df.loc[l] = row # adding rows from len of df

In [43]:
df

,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS
0,\n\n\n\n\nChennai Super Kings\n\n,"₹2,95,00,000",8,25
1,\n\n\n\n\nDelhi Capitals\n\n,"₹10,00,000",7,24
2,\n\n\n\n\nGujarat Titans\n\n,"₹15,00,000",8,23
3,\n\n\n\n\nKolkata Knight Riders\n\n,"₹45,00,000",8,25
4,\n\n\n\n\nLucknow Super Giants\n\n,₹0,7,21
5,\n\n\n\n\nMumbai Indians\n\n,"₹10,00,000",8,25
6,\n\n\n\n\nPunjab Kings\n\n,"₹3,45,00,000",7,25
7,\n\n\n\n\nRajasthan Royals\n\n,"₹95,00,000",8,24
8,\n\n\n\n\nRoyal Challengers Bangalore\n\n,"₹1,55,00,000",8,22
9,\n\n\n\n\nSunrisers Hyderabad\n\n,"₹10,00,000",8,23

In [44]:
# removing new line (\n) from the 'Company Column'

df = df.replace('\n','', regex=True)
df

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹2,95,00,000                 8            25
1               Delhi Capitals      ₹10,00,000                 7            24
2               Gujarat Titans      ₹15,00,000                 8            23
3        Kolkata Knight Riders      ₹45,00,000                 8            25
4         Lucknow Super Giants              ₹0                 7            21
5               Mumbai Indians      ₹10,00,000                 8            25
6                 Punjab Kings    ₹3,45,00,000                 7            25
7             Rajasthan Royals      ₹95,00,000                 8            24
8  Royal Challengers Bangalore    ₹1,55,00,000                 8            22
9          Sunrisers Hyderabad      ₹10,00,000                 8            23