In [1]:
# Importing all libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import json

In [3]:
# initiating user agent to avoid getting blocked
header = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36",
  'referer': 'https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb'
  
}
# passing our url
url = 'https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb'

In [4]:
r = requests.get(url=url,headers=header)
r

In [5]:
# making the soup object
soup= BeautifulSoup(r.text, 'lxml')

In [30]:
# lets look for the next page tag so we can extract urls for number of pages we want to scrape

url+soup.find('a', class_='StyledButton-c11n-8-85-1__sc-wpcbcc-0 irmCwD PaginationButton-c11n-8-85-1__sc-si2hz6-0 bsEGr').get('href')

'https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/2_p/'

In [28]:
# getting the url of 10 pages we want to scrape
for i in range(1,11):
    a = 'https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/'+str(i)+'_p/'
    print(a)

https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/1_p/
https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/2_p/
https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/3_p/
https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/4_p/
https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/5_p/
https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/6_p/
https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/7_p/
https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/8_p/
https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/9_p/
https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/10_p/

In [31]:
# assigning varriables to our extracted urls
url1 = 'https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/1_p/'
url2 ='https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/2_p/'
url3 ='https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/3_p/'
url4 ='https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/4_p/'
url5 ='https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/5_p/'
url6 ='https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/6_p/'
url7 ='https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/7_p/'
url8 ='https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/8_p/'
url9 ='https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/9_p/'
url10 ='https://www.zillow.com/homes/for_rent/Manhattan,-New-York,-NY_rb/manhattan-new-york-ny/rentals/10_p/'

In [32]:
# getting html page structure from the urls
with requests.Session() as s:
    r1 = s.get(url1, headers=req_headers)
    r2 = s.get(url2, headers=req_headers)
    r3 = s.get(url3, headers=req_headers)
    r4 = s.get(url4, headers=req_headers)
    r5 = s.get(url5, headers=req_headers)
    r6 = s.get(url6, headers=req_headers)
    r7 = s.get(url7, headers=req_headers)
    r8 = s.get(url8, headers=req_headers)
    r9 = s.get(url9, headers=req_headers)
    r10 = s.get(url10, headers=req_headers)

In [62]:
# extracting essential data using regex
data1 = json.loads(re.search(r'!--(\{"queryState".*?)-->', r1.text).group(1))
data2 = json.loads(re.search(r'!--(\{"queryState".*?)-->', r2.text).group(1))
data3 = json.loads(re.search(r'!--(\{"queryState".*?)-->', r3.text).group(1))
data4 = json.loads(re.search(r'!--(\{"queryState".*?)-->', r4.text).group(1))
data5 = json.loads(re.search(r'!--(\{"queryState".*?)-->', r5.text).group(1))
data6 = json.loads(re.search(r'!--(\{"queryState".*?)-->', r6.text).group(1))
data7 = json.loads(re.search(r'!--(\{"queryState".*?)-->', r7.text).group(1))
data8 = json.loads(re.search(r'!--(\{"queryState".*?)-->', r8.text).group(1))
data9 = json.loads(re.search(r'!--(\{"queryState".*?)-->', r9.text).group(1))
data10 = json.loads(re.search(r'!--(\{"queryState".*?)-->', r10.text).group(1))

In [65]:
# placing the extracted data in a list so we can easily loop through
data_list = [data1,data2,data3,data4,data5,data6,data7,data8,data9,data10]

In [86]:
import warnings
warnings.filterwarnings('ignore')

df = pd.DataFrame()

def make_data_frame(frame):
    for i in data_list:
        for item in i['cat1']['searchResults']['listResults']: # looping the dictionary of essential data created earlier
            frame = frame.append(item, ignore_index=True)
    return frame

df = make_data_frame(df)

In [87]:
df

,zpid,id,lotId,imgSrc,hasImage,statusType,statusText,detailUrl,latLong,units,...,shouldShowZestimateAsPrice,hasVideo,isHomeRec,brokerName,hasAdditionalAttributions,availabilityDate,hasOpenHouse,openHouseStartDate,openHouseEndDate,openHouseDescription
0,40.73736_rrc2*-rrc_73.97319,40.73736_rrc2*-rrc_73.97319,2.008579e+09,https://photos.zillowstatic.com/fp/c5384b7a159...,True,FOR_RENT,Waterside,/b/waterside-new-york-ny-97QdBH/,"{'latitude': 40.73736, 'longitude': -73.97319}","[{'price': '$3,090+', 'beds': '0'}, {'price': ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40.746784_rrc2*-rrc_73.98546,40.746784_rrc2*-rrc_73.98546,1.571650e+05,https://photos.zillowstatic.com/fp/83784de4e80...,True,FOR_RENT,The Dylan,/b/the-dylan-new-york-ny-3LSS/,"{'latitude': 40.746784, 'longitude': -73.98546}","[{'price': '$4,538+', 'beds': '0'}, {'price': ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,40.707977_rrc2*-rrc_74.00771,40.707977_rrc2*-rrc_74.00771,2.325080e+05,https://photos.zillowstatic.com/fp/ffbd0947f58...,True,FOR_RENT,The Howell,/b/the-howell-manhattan-ny-3yr5/,"{'latitude': 40.707977, 'longitude': -74.00771}","[{'price': '$4,080+', 'beds': '0'}, {'price': ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,40.76183_rrc2*-rrc_73.98581,40.76183_rrc2*-rrc_73.98581,1.000176e+09,https://photos.zillowstatic.com/fp/f9af2351f0b...,True,FOR_RENT,Avalon Midtown West,/b/avalon-midtown-west-new-york-ny-5XVMHG/,"{'latitude': 40.76183, 'longitude': -73.98581}","[{'price': '$3,528+', 'beds': '0'}, {'price': ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40.766445_rrc2*-rrc_73.99173,40.766445_rrc2*-rrc_73.99173,1.000176e+09,https://photos.zillowstatic.com/fp/a875d8136b9...,True,FOR_RENT,Avalon Clinton,/b/avalon-clinton-new-york-ny-5XVMSF/,"{'latitude': 40.766445, 'longitude': -73.99173}","[{'price': '$3,460+', 'beds': '0'}, {'price': ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,40.75903_rrc2*-rrc_73.994484,40.75903_rrc2*-rrc_73.994484,1.000173e+09,https://photos.zillowstatic.com/fp/ead7b7cf997...,True,FOR_RENT,For Rent,/b/1-mima-tower-new-york-ny-5XVLHN/,"{'latitude': 40.75903, 'longitude': -73.994484}","[{'price': '$5,150+', 'beds': '0'}, {'price': ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,40.76237_rrc2*-rrc_73.96135,40.76237_rrc2*-rrc_73.96135,1.001465e+09,https://photos.zillowstatic.com/fp/18bb8764a92...,True,FOR_RENT,For Rent,/b/330-e-63rd-st-new-york-ny-5XjKT4/,"{'latitude': 40.76237, 'longitude': -73.96135}","[{'price': '$3,875+', 'beds': '1'}, {'price': ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,2058478831,2058478831,NaN,https://photos.zillowstatic.com/fp/10dd0824ee0...,True,FOR_RENT,Apartment for rent,https://www.zillow.com/homedetails/57-E-130th-...,"{'latitude': 40.80888, 'longitude': -73.9377}",NaN,...,False,False,False,Listing by: Brown Harris Stevens,True,2023-03-17 00:00:00,NaN,NaN,NaN,NaN
398,2072703635,2072703635,NaN,https://photos.zillowstatic.com/fp/4ec37b901f7...,True,FOR_RENT,Apartment for rent,https://www.zillow.com/homedetails/221-E-28th-...,"{'latitude': 40.74175, 'longitude': -73.97976}",NaN,...,False,False,False,"Listing by: Michael Fine, LREB",True,2023-04-01 00:00:00,True,2023-03-20T18:00:00,2023-03-20T18:30:00,Open House - 6:00 - 6:30 PM
399,40.74762_rrc2*-rrc_73.98213,40.74762_rrc2*-rrc_73.98213,1.439500e+04,https://photos.zillowstatic.com/fp/3e08dcbabab...,True,FOR_RENT,For Rent,/b/49-e-34th-st-new-york-ny-27zn/,"{'latitude': 40.74762, 'longitude': -73.98213}","[{'price': '$4,050+', 'beds': '0'}, {'price': ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df.columns

Index(['zpid', 'id', 'lotId', 'imgSrc', 'hasImage', 'statusType', 'statusText',
       'detailUrl', 'latLong', 'units', 'variableData', 'badgeInfo',
       'buildingName', 'isBuilding', 'address', 'addressStreet',
       'addressState', 'addressCity', 'addressZipcode', 'providerListingId',
       'canSaveBuilding', 'has3DModel', 'isFeaturedListing', 'isSaved', 'list',
       'relaxed', 'streetViewMetadataURL', 'streetViewURL', 'countryCurrency',
       'price', 'unformattedPrice', 'isUndisclosedAddress', 'beds', 'baths',
       'area', 'isZillowOwned', 'hdpData', 'isUserClaimingOwner',
       'isUserConfirmedClaim', 'pgapt', 'sgapt', 'zestimate',
       'shouldShowZestimateAsPrice', 'hasVideo', 'isHomeRec', 'brokerName',
       'hasAdditionalAttributions', 'availabilityDate', 'hasOpenHouse',
       'openHouseStartDate', 'openHouseEndDate', 'openHouseDescription'],
      dtype='object')

In [91]:
df = df.drop_duplicates(subset='zpid', keep="last")

#filters
df['zestimate'] = df['zestimate'].fillna(0)
df['best_deal'] = df['unformattedPrice'] - df['zestimate']
df = df.sort_values(by='best_deal',ascending=True)

df.head()

,zpid,id,lotId,imgSrc,hasImage,statusType,statusText,detailUrl,latLong,units,...,hasVideo,isHomeRec,brokerName,hasAdditionalAttributions,availabilityDate,hasOpenHouse,openHouseStartDate,openHouseEndDate,openHouseDescription,best_deal
364,2079498278,2079498278,NaN,https://photos.zillowstatic.com/fp/619ef3a1171...,True,FOR_RENT,Apartment for rent,https://www.zillow.com/homedetails/146-156-Ban...,"{'latitude': 40.736313, 'longitude': -74.00746}",NaN,...,False,False,Listing by: Compass,True,2023-03-17 00:00:00,NaN,NaN,NaN,NaN,-4244100.0
154,2104197495,2104197495,NaN,https://photos.zillowstatic.com/fp/e95d872cfee...,True,FOR_RENT,Apartment for rent,https://www.zillow.com/homedetails/29-W-76th-S...,"{'latitude': 40.779667, 'longitude': -73.97555}",NaN,...,False,False,Listing by: City Connections Realty,True,2023-05-06 00:00:00,NaN,NaN,NaN,NaN,-4047805.0
152,63164368,63164368,NaN,https://photos.zillowstatic.com/fp/fd08d7ff5d3...,True,FOR_RENT,Apartment for rent,https://www.zillow.com/homedetails/181-E-90th-...,"{'latitude': 40.78169, 'longitude': -73.95225}",NaN,...,False,False,Listing by: Corcoran,True,None,True,2023-03-25T11:00:00,2023-03-25T14:00:00,Open House - 11:00 AM - 2:00 PM,-3989300.0
184,2077177405,2077177405,NaN,https://photos.zillowstatic.com/fp/51bb0f10b9f...,True,FOR_RENT,Apartment for rent,https://www.zillow.com/homedetails/129-E-80th-...,"{'latitude': 40.775986, 'longitude': -73.95863}",NaN,...,False,False,Listing by: Corcoran,True,2023-02-27 00:00:00,NaN,NaN,NaN,NaN,-3955200.0
140,2116453819,2116453819,NaN,https://photos.zillowstatic.com/fp/68e6e83b972...,True,FOR_RENT,Apartment for rent,https://www.zillow.com/homedetails/200-E-72nd-...,"{'latitude': 40.769318, 'longitude': -73.96043}",NaN,...,False,False,Listing by: Manhattan Realty Group,True,2023-05-15 00:00:00,NaN,NaN,NaN,NaN,-3647750.0

In [94]:
df = df[[ 'id','address', 'addressStreet',
       'addressState', 'countryCurrency',
       'price', 'unformattedPrice',  'beds', 'baths',
       'area', 'isZillowOwned', 'hdpData', 'isUserClaimingOwner',
       'isUserConfirmedClaim']]

df.fillna(0)

,id,address,addressStreet,addressState,countryCurrency,price,unformattedPrice,beds,baths,area,isZillowOwned,hdpData,isUserClaimingOwner,isUserConfirmedClaim
364,2079498278,"146-156 Bank St #2B, New York, NY 10014",146-156 Bank St #2B,NY,$,"$6,200/mo",6200.0,2.0,1.0,0.0,False,"{'homeInfo': {'zpid': 2079498278, 'streetAddre...",False,False
154,2104197495,"29 W 76th St APT 10, New York, NY 10023",29 W 76th St APT 10,NY,$,"$2,695/mo",2695.0,1.0,1.0,0.0,False,"{'homeInfo': {'zpid': 2104197495, 'streetAddre...",False,False
152,63164368,"181 E 90th St APT 10B, New York, NY 10128",181 E 90th St APT 10B,NY,$,"$17,000/mo",17000.0,4.0,4.0,2234.0,False,"{'homeInfo': {'zpid': 63164368, 'streetAddress...",False,False
184,2077177405,"129 E 80th St #1A, New York, NY 10075",129 E 80th St #1A,NY,$,"$3,200/mo",3200.0,1.0,1.0,0.0,False,"{'homeInfo': {'zpid': 2077177405, 'streetAddre...",False,False
140,2116453819,"200 E 72nd St APT 11L, New York, NY 10021",200 E 72nd St APT 11L,NY,$,"$4,050/mo",4050.0,1.0,1.0,0.0,False,"{'homeInfo': {'zpid': 2116453819, 'streetAddre...",False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,40.77899_rrc2*-rrc_73.987656,"200 Riverside Blvd, New York, NY",200 Riverside Blvd Apt 8,NY,0,0,0.0,0.0,0.0,0.0,0,0,0,0
394,40.772953_rrc2*-rrc_73.95652,"244 E 78th St, New York, NY",244 E 78th St Apt 4F,NY,0,0,0.0,0.0,0.0,0.0,0,0,0,0
395,40.75903_rrc2*-rrc_73.994484,"460 W 42nd St, New York, NY",460 W 42nd St Ph 1H,NY,0,0,0.0,0.0,0.0,0.0,0,0,0,0
396,40.76237_rrc2*-rrc_73.96135,"330 E 63rd St, New York, NY",330 E 63rd St Apt 2D,NY,0,0,0.0,0.0,0.0,0.0,0,0,0,0
399,40.74762_rrc2*-rrc_73.98213,"49 E 34th St, New York, NY",49 E 34th St # 5D,NY,0,0,0.0,0.0,0.0,0.0,0,0,0,0

In [95]:
# saving to csv file
df.to_csv('zillow.csv', index=False)