# Project Name: Scrapping Tabular Data from a Website

In [2]:
# importing all libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
url = 'https://ticker.finology.in/'

r = requests.get(url) 
print(r.status_code) #checking if we are given html access to scrape the, getting a code of "200" means we can scrape the data

200

In [5]:
# cooking our soup
soup = BeautifulSoup(r.text,'lxml')

In [12]:
#extracting contents in the table tag
table = soup.find('table', class_='table table-sm table-hover screenertable')

In [13]:
#extracting table headers from table variable
headers = table.find_all('th')
print(headers)

[<th scope="col">Company</th>, <th scope="col">Price<span class="muted">Rs.</span></th>, <th scope="col">Day High<span class="muted">Rs.</span></th>]

In [14]:
# extracting each header

titles = [] #creating an empty list to append headers

for i in headers: # using a for loop to iterate through each item in the headers list
    titles.append(i.text) # appending the text to the empty list we created

In [15]:
titles # headers extracted

['Company', 'PriceRs.', 'Day HighRs.']

In [45]:
# creating dataframe column names

df = pd.DataFrame(columns = titles)

In [46]:
#Now let's extract row-wise data using tr tag

rows = table.find_all('tr')
for i in rows[1:]: # skipping the 0 index because it also contains the headers we extracted initially
    data = i.find_all('td') # extracting table data(td) tags
    row = [tr.text for tr in data] # extracting text in 'tr' tag for each row
    l = len(df) #specifying length of df
    df.loc[l] = row # adding rows from len of df

In [48]:
df

                     Company PriceRs. Day HighRs.
0         \nFinolex Cables\n   775.85      782.95
1    \nImagicaaworld Enter\n    49.25        49.4
2     \nEquitas Small Fin.\n     75.8       76.85
3                   \nISMT\n     75.4        77.6
4             \nNMDC Steel\n    38.25       38.55
5      \nHariom Pipe Inds.\n    448.2         451
6   \nCigniti Technologies\n   749.05       758.5
7       \nTD Power Systems\n    154.5         155
8                   \nWPIL\n  2038.85     2038.85
9        \nTega Industries\n    683.8         695
10     \nKirloskar Ferrous\n    444.9       447.8
11      \nJindal Stainless\n   279.55       284.6
12  \nProcter&Gamble Healt\n   4977.3        5124
13       \nSealmatic India\n    256.1      260.45
14      \nGoyal Aluminiums\n   280.55       281.2

In [49]:
# removing new line (\n) from the 'Company Column'

df = df.replace('\n','', regex=True)

In [50]:
df

                 Company PriceRs. Day HighRs.
0         Finolex Cables   775.85      782.95
1    Imagicaaworld Enter    49.25        49.4
2     Equitas Small Fin.     75.8       76.85
3                   ISMT     75.4        77.6
4             NMDC Steel    38.25       38.55
5      Hariom Pipe Inds.    448.2         451
6   Cigniti Technologies   749.05       758.5
7       TD Power Systems    154.5         155
8                   WPIL  2038.85     2038.85
9        Tega Industries    683.8         695
10     Kirloskar Ferrous    444.9       447.8
11      Jindal Stainless   279.55       284.6
12  Procter&Gamble Healt   4977.3        5124
13       Sealmatic India    256.1      260.45
14      Goyal Aluminiums   280.55       281.2

# All done !